*{
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(87, 6, 73);
  margin: 0;
  height: auto;
  overflow: hidden;
  padding: 6rem 0;
 
  

}



